
@{
    ViewBag.Title = "Index";
}

<html>
<head>
</head>
<body>
    <h2>Index</h2>
    <div>
        <p>検索結果：全 @ViewData["allcount"]　件  </p>

        @for (int i = 1; i < 20; i++)
        {
            <h3> <a href= @ViewData["_url" + i.ToString()] > @ViewData["title" + i.ToString()]</a></h3>
            <p>作者：　@ViewData["writer" + i.ToString()] </p>
            <p>ストーリー：　@ViewData["story" + i.ToString()] </p>
            <p>ジャンル：　@ViewData["_biggenre" + i.ToString()]  - @ViewData["_genre" + i.ToString()] </p>
            <p>キーワード：　@ViewData["keyword" + i.ToString()]</p>
            <p>
                初回掲載日：　@ViewData["general_firstup" + i.ToString()]
                最終掲載日：　@ViewData["general_lastup" + i.ToString()]
                小説の更新日時 ： @ViewData["novelupdated_at" + i.ToString()]
            </p>
            <p>@ViewData["_end" + i.ToString()]  
               @ViewData["length" + i.ToString()] 文字 
               @ViewData["_is" + i.ToString()] 
            </p>

            <p>日/週/月/四半期/年間/総合</p>
            <p>
                @ViewData["daily_point" + i.ToString()]
                @ViewData["weekly_point" + i.ToString()]
                @ViewData["monthly_point" + i.ToString()]
                @ViewData["quarter_point" + i.ToString()]
                @ViewData["yearly_point" + i.ToString()]
                @ViewData["global_point" + i.ToString()]
            </p>
            <p>
                ブックマーク数： @ViewData["fav_novel_cnt" + i.ToString()]
                感想数：　@ViewData["impression_cnt" + i.ToString()]
                レビュー数：　@ViewData["review_cnt" + i.ToString()]　件
                評価P：　@ViewData["all_point" + i.ToString()]
                評価数：　@ViewData["all_hyoka_cnt" + i.ToString()]
                挿絵数：　@ViewData["sasie_cnt" + i.ToString()]
                会話率：　@ViewData["kaiwaritu" + i.ToString()]
            </p>
        }
    </div>
</body>

</html>

